*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.5s ease;
    scroll-behavior: smooth;
}
:root{
    --my-color:green;
}
header{
    background-color: var(--my-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    /* position: fixed;
    top: 0;
    width: 100%; */
}
.menu{
    display: flex;
    align-items: center;
    gap: 20px;
    list-style: none;
}
.menu a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 24px;
}
.logo{
    font-size: 48px;
    color: transparent;
    background-image: linear-gradient(to right, orange,green);
    background-size: 60% 60%;
    background-clip: text;
    font-weight: bolder;
    animation: gradient-animation 1s ease alternate infinite;
}
.menu a:hover{
  color: orange;
   /* cursor:url('./assets/cursor.png') 2 2,pointer; */
}
li:hover{
      transform: translateY(-5px);
     
}
main{
    margin: 20px auto;
    max-width: 1280px;
}
#hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 100px 0px;
}
.left-hero
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.right-hero>img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.left-hero>h2{
    font-size: 48px;
}
.left-hero>h2>span{
    color: var(--my-color);
}
.left-hero>p{
    font-size: 18px;
    color: gray;
    text-align: justify;
}
.buttons{
    display: flex;gap: 20px;
}
.buttons>button{
   padding: 10px 20px;border-radius: 20px;font-size: 24px; 
}
.buttons>button:nth-child(1)
{
     background-color: black;color: white;
}
.buttons>button:nth-child(1)>a{
    color: white;
}
.buttons>button:nth-child(2)
{
     background-color: white;color: black;border: 1px solid black;
}
button a{
    text-decoration: none;
}
.section-title{
    text-align: center;
    margin: 20px auto;
    font-size: 32px;
    text-decoration: 5px wavy var(--my-color) underline;
}
#skills{
    display: flex;
    gap: 50px;
}
#skills>div{
    padding: 20px;
    box-shadow: 5px 5px gray;border-radius: 20px;
    display: flex;flex-direction: column;justify-content: center;align-items: center;gap: 10px;
}
#skills>div:hover{
    box-shadow: 10px 10px 50px orange;
}
progress{
    accent-color: var(--my-color);
}
#about{
    display: flex;
    justify-content: center;align-items: center;
    gap: 50px;
}
.about-left img{
    border-radius: 50%;
    height: 90%;width: 90%; 
}
#projects
{
   display: grid;
   grid-template-columns: repeat(3,1fr);
   gap: 20px;
}
.project{
    display: flex;flex-direction: column;padding: 20px;gap: 20px; align-items: center;
    box-shadow: 5px 5px gray;border-radius: 20px;
}
.project>img{
    height: 100%;width: 100%;object-fit: contain;
}
.project button{
    background-color: black;color: white;padding: 10px 20px;border-radius: 20px;
}
.project a{
    color: white;
}

#contact{
    padding: 20px;
    display: flex;flex-direction: column;justify-content: center;align-items: center;gap: 20px;border-radius: 20px;box-shadow: 5px 5px gray;font-size: 32px;
}
#contact a{
    color: black;
}
#contact a:hover{
    color: var(--my-color);
}



















































#typing{
   overflow: hidden;
   border-right: 5px solid orange;
   display: inline-block;
   /* animation: type 10s steps(20) alternate infinite; */
}
#typing::after{
    content:'\202B';
    font-size: 64px;
}
@keyframes type {
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}


















/* animations */
@keyframes gradient-animation {
    0%{
        background-position: 00% 50%;
    }
    50%{
        background-position: 50% 50%;
    }
    100%{
        background-position: 100% 100%;
    }
}

/* media queries */
@media (max-width:576px)   /* mobile screens */
{
  header{
    flex-direction: column;
    position: static;
  }
  .logo{
        font-size: 24px;
    }
    .menu a{
        font-size: 16px;
    }
    section{margin: 30px;}
  #hero{
    flex-direction: column-reverse;
  }
  .left-hero{
    justify-content: center;
  }
  .left-hero>h2{
    font-size: 32px;
  }
  .buttons>button{ font-size: 16px;}
  .about-left{display: none;}
  #skills{flex-direction: column;}
  #projects{grid-template-columns: repeat(1,1fr);}
}
@media(min-width:577px) and (max-width:768px) /* landscape mode - mobile */
{
header{
        flex-direction: column;
    }
    .logo{
        font-size: 32px;
    }
    .menu a{
        font-size: 16px;
    }
    section{margin: 30px;}
}
@media(min-width:769px) and (max-width:998px) /* tablets */
{
    header{
        flex-direction: column;
    }
    section{margin: 30px;}
}

