
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url('./images/bg-desktop.svg');
    padding: 50px 100px;
}
main{
   display: flex;
   gap: 50px;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 24px;
    gap: 20px;
}
h1{
    font-family: "Poppins", sans-serif;
    color: white;
}
p{
    font-family: "Open Sans",sans-serif;
    color: white;
    font-size: 16px;
}
button
{
    width: max-content;
    padding: 10px 50px;
    border-radius: 30px;
    font-size: 24px;
    color: hsl(257, 40%, 49%);
    font-family: "Poppins", sans-serif;
    box-shadow: 5px 5px 20px gray;
}
footer{
    display: flex;
    justify-content: end;
    color: white;
    font-size: 24px;
}