#ele
{
    height: 50vh;
    width: 50vw;
    background-color: green;
    /* border-radius: 50%; */
    font-size: 16px;
}
#child{
    height: 2rem; /*32*/
    width: 3em;  /*48px*/
    font-size: 1.5em ; /*24px*/
    background-color: red;
}
h2{
    border: 5px solid red;
    /* border-bottom:5px solid red ; */
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    height:100px;
    width: 100px;
    width: max-content;
    padding: 20px;
    box-sizing: border-box;
    margin: 50px;
}
img{
    height: 200px;
    float: right;
}
p{
    font-size: 32px;
    clear: both;
}