@import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');

body{
   /* background-color:hsla(93, 100%, 98%,0.2);*/
   height: 100vh;
   /* background-image: url('https://cdn.pixabay.com/photo/2025/07/10/11/33/sat-9706519_640.jpg');
   background-repeat: no-repeat;
   background-position: right center;
   background-size: cover;
   backdrop-filter: blur(2px); */
   /* background-image: linear-gradient(145deg,orange,white,green); */
   /* background-image: radial-gradient(white,black,white,black,white,black,white,black
   ,white,black,white,black); */
   /* background-image: conic-gradient(from 120deg,orange,blue,green); */
   /* background-attachment:fixed */
}
h2{
    color: red;
    text-align: center;
    text-transform: capitalize;
    text-decoration: 3px wavy blue underline;
    text-shadow: 2px 2px black;
}
p
{
    text-align: justify;
    letter-spacing: 5px;
    line-height: 18px;
    text-wrap: word-wrap;
    text-indent: 60px;
  font-family: "Ephesis", cursive;
  font-weight: bolder;
  font-style:normal;
  font-size: 20px;
}