*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    height: 400px;
    width: 500px;
    border: 1px solid red;
    display: grid;
   
   /* grid-template:
   50px 200px 50px / repeat(3,1fr);
   row-gap: 20px;
   column-gap: 20px; */
   grid-template-columns: repeat(3,1fr);
}
.child{
    background-color: green;
    color: white;
    font-size: 24px;
    border: 1px solid white;
}

.child1{
    grid-column:1/4
}
.child2{
    grid-row:2/4
}