.box{
    height: 100px;
    width: 100px;
    animation: fallinghearts 1s ease alternate infinite 5s; 
}

@keyframes fallinghearts {
    100%{
        transform: translateY(500px);
    }
}
.box1{
    animation-delay: 0.2s;
}
.box2{
    animation-delay: 0.4s;
}
.box3{
    animation-delay: 0.6s;
}
.box4{
    animation-delay: 0.8s;
}
.box5{
    animation-delay: 1.0s;
}
.box6{
    animation-delay: 1.2s;
}
/* @keyframes movingBall {
   0%{
   transform: translateY(0px);
   }
   50%{
    background-color: green;
    border-radius: 50%;
    transform: translateY(300px) translateX(400px)
   }
   100%{
    transform: translateY(500px);
   }
} */
/* @keyframes shake {
    0%{

    }
    50%{
        transform: rotate(-10deg);
    }
    100%{
        transform: rotate(10deg);
    }
} */
 @keyframes blink {
    0%{
      opacity:0
    }
    50%{
        opacity:1;
        transform: translateX(300px) translateY(200px);
    }
    100%{
        opacity:0
        
    }
}
/* h2>span{
    animation: typing 1s steps(6) alternate infinite;
}
@keyframes typing {
    0%{
opacity: 0;
    }
    100%{
        opacity:1
    }
}
.letter2{
   animation-delay: 0.2s;
}
.letter3{
   animation-delay: 0.4s;
}
.letter4{
   animation-delay: 0.6s;
}
.letter5{
   animation-delay: 0.8s;
}
.letter6{
   animation-delay: 1s;
} */

